{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h3>Log In</h3>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="col-md-6">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputUserName">User Name</label>
          <input type="text" name="username" class="form-control" id="inputUserName">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword">
        </div>
          <input type="hidden" name="next_page" value="{{ next }}">
      </div>

      <button type="submit" class="btn btn-primary mb-2">Log In</button>
    </div>
  </form>
  <h3 class="mt-5">Authenticate via VK.com</h3>
  <a href="/login/vk-oauth2"><img src="{% static 'vk.png' %}" width="50" alt=""></a>


{% endblock %}
