{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Shop</h1>
{% for row in good_list %}
<div class="row good-deck mb-3 text-center">
  {% for good in row %}
  <div class="col-md-4 good mb-4 shadow-sm">
    <div class="good-header">
      <h4 class="my-0 font-weight-normal">{{ good.name }}</h4>
    </div>
    <div class="good-body">
      <h1 class="card-title pricing-card-title">${{ good.price }} <small class="text-muted">/ kg</small></h1>
      <img src="{{ good.image.url }}" class="img-fluid">
      <a class="btn btn-block btn-outline-primary" href="{% url 'add-good-to-card' good_id=good.id %}">Купить</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
