{% extends 'base.html' %}

{% block content %}
  <h3>Product Card</h3>
  <div class="row">
    <div class="col-md-3 text-center">
      Title
    </div>
    <div class="col-md-3">
      Price
    </div>
    <div class="col-md-3">
      Quantity
    </div>
    <div class="col-md-3">
      Sum
    </div>
  </div>
  <hr>
  <div class="row">
  {% for good in card_list %}
    <div class="col-md-3">
      <img src="{{ good.good.image_thumbnail.url }}" width="50">
      {{ good.good.name }}
    </div>
    <div class="col-md-3">
      {{ good.good.price }}$
    </div>
    <div class="col-md-3">
      {{ good.quantity }}
    </div>
    <div class="col-md-3">
      {% widthratio good.good.price 1 good.quantity %}$
    </div>
  {% endfor %}
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      Total Price
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      {{ total_price }}$
    </div>
  </div>
{% endblock %}
